{% extends "base.html" %}

{% block content %}

<a href="{% url "sistema:circun_list" %}" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-share-alt" aria-hidden="true">Volver</a>

<h1>Lista de mesas para {{ circunscripcion_tit }}</h1>
{% if request.user.is_staff or request.user.is_superuser %}
      <a href="{% url "sistema:mesa_create" %}" class="btn btn-success" role="button">Crear</a>
    {% endif %}

<div class="col-sm-8 col-sm-offset-2">
{% for obj in mesas %}
<div class="row">
	<div class="col-sm-12">
    	<div class="thumbnail">
      		<div class="caption">
        			<h3>{{obj.nombre}}</h3>
 					<p>{{obj.circunscripcion}}</p>
 					<a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">Ver</a>
 					<a href="{{ obj.get_absolute_url_update }}" class="btn btn-warning" role="button">Editar</a>
 			</div>
 		</div>
 	</div>
 </div>



{% endfor %}

{% endblock content %}